
.header {


	// margin: 15px;
	width: calc( 100% - #{$SIDEBAR-W} );
	position: relative;
	height: $HEADER-H;
	// background-color: red; // !!!


	// 
	&__logo {
		
		width: 300px;
		height: 100px;
		display: inline-block;
		position: absolute;
	}
}