include components/header/header
include components/content/content
include components/img-holder/img-holder
include components/sidebar/sidebar
include components/menu/menu
include components/footer/footer
include components/lang/lang
include components/header-part/header-part
include components/info/info
include components/link/link
include components/btns/btns

block setup

html
  head
    link(rel="stylesheet", href="styles/styles.css")
    meta(charset="utf-8")
    meta(name="autor", content="Melnikova")
    
    block title
      title=title

  body
    block page
    .page

      +header()

      block content
            
      +sidebar( menu_active_items )





