mixin info()
	.info&attributes(attributes)

		h1.info__title Сохранить и преумножить

		.info__column
			p.info__text Обслуживание в московском офисе Friedrich Wilhelm Raiffeisen сочетает в себе преимущества индивидуального клиентского сервиса в Москве с инвестиционными решениями, разработанными в центральном офисе Группы Райффайзен в Вене.
			p.info__text Каждый клиент российского офиса Friedrich Wilhelm Raiffeisen получает персонального менеджера в Москве, который осуществляет открытие и обслуживание инвестиционных счетов в Австрии, а также обеспечивает доступ к международному рынку ценных бумаг через платформы в России и за рубежом.
		
		.info__column
			p.info__text Специалисты Friedrich Wilhelm Raiffeisen в Австрии разрабатывают индивидуальные стратегии доверительного управления активами и осуществляют формирование индивидуального портфеля, отвечающего инвестиционным потребностям клиента.
			p.info__text Friedrich Wilhelm Raiffeisen оказывает брокерские, консультационные и аналитические услуги, предоставляет гибкие депозитные предложения и обслуживает счета в 11 валютах.
			+link()
		
	block



mixin info__template()

	script(id="tmpl-content-info" type="text/x-handlebars-template")
		
		+img-holder()

		.info&attributes(attributes)
			h1.info__title {{title}}
			|{{#each texts}}
			.info__column
				p.info__text {{this}}
			|{{/each}} 
		
		
	block


	//- 
		|{{#each content.texts}}
		.info__column
			p.info__text {{this[../content.language]}}
		|{{/each}}     