mixin footer() 
  .footer&attributes(attributes)
    .footer__link.footer__link_icon-pdf
      a(href="#" data-trnslt='download_fwr') 
    p( data-trnslt='footer_raifeissen' ).footer__info АО"Райффайзенбанк"
  block
