mixin content()
  .content&attributes(attributes)
    .img-holder
      img.img-holder__pic(src='#')
    .info
      h1.info__title Сохранить и преумножить
      p.info__text dd
      p.info__text dd
      p.info__text dd
      p.info__text dd
      p.info__text.info__text_color-p
  block
